ion-view(title="PicStreet")#photographer
	.background-container

		.header
			.link 
				.link-title Photographer
			.link
				.link-title(
					ui-sref="member"
				) Member

		.main
			.punchline Join the Picstreet community

			.description Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. 

			.stats
				.stat
					.value 20%
					.name Stat
				.stat
					.value 20%
					.name Stat
				.stat
					.value 20%
					.name Stat
				.stat
					.value 20%
					.name Stat
				.stat
					.value 20%
					.name Stat

		.phone
			img(src="img/phone.png")

	.paragraphe.left
		
		.subtitle Completez vos revenus
		
		.title  Completely synergize resource taxing relationships via premier niche markets.
		
		.description  Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
		
		.action
			button Learn More

	.step
		.box-text
			.subtitle Etape 1
			.title Rejoignez les meilleurs spots de Paris.
		.box-image.map

	.step.step-reverse
		.box-text
			.subtitle Etape 2
			.title Immortalisez leurs plus beaux moments.
		.box-image.without-image

	.step
		.box-text
			.subtitle Etape 3
			.title Gagnez de l'argent.
		.box-image.without-image

	.paragraphe.center
		
		.subtitle Completez vos revenus
		
		.title  Completely synergize resource taxing relationships via premier niche markets.
		
		.description  Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
	
	.paragraphe.center.light

		.title Devenir Photographe PicStreet

		.description
			label.toggle.toggle-balanced
				input(
					type="checkbox"
					ng-model="become"
				)
				.track
					.handle
		
	.footer PicStreet® 2016


