ion-view(title="PicStreet")#photographer
	.background-container

		.header
			.link 
				.link-title Photographer
			.link
				.link-title Member

		.main
			.punchline DEVENEZ PHOTOGRAPHE PICSTREET

			.description Vous avez des compétences en photographie ? C’est le moment ou jamais de devenir un Photographe PicStreet ! Lancez-vous !

			//- .stats
			//- 	.stat
			//- 		.value 20%
			//- 		.name Stat
			//- 	.stat
			//- 		.value 20%
			//- 		.name Stat
			//- 	.stat
			//- 		.value 20%
			//- 		.name Stat
			//- 	.stat
			//- 		.value 20%
			//- 		.name Stat
			//- 	.stat
			//- 		.value 20%
			//- 		.name Stat

		.phone
			img(src="img/phone.png")

	.paragraphe.left
		
		.subtitle Vous êtes indépendant
		
		.title Vous shootez quand vous le souhaitez, sans aucune contrainte
		
		.description de façon libre et flexible. Vous construisez votre propre emploi du temps. C’est vous qui voyez ! 
		
		.action
			button(ng-click="getPhotographerForm()") Devenir Photographe

	.step
		.box-text
			.subtitle Etape 1
			.title Rejoignez les meilleurs spots de Paris.
		.box-image#map

	.step
		.box-text
			.subtitle Etape 2
			.title Immortalisez leurs plus beaux moments.
		.box-text
			.subtitle Etape 3
			.title Gagnez de l'argent.

	//- .step.step-reverse
		//- .box-image.without-image
		//- .box-image.without-image

	.paragraphe.center
		
		.subtitle Completez vos revenus
		
		.title  Completez vos revenus ou vivez de votre passion
		
		.description  Notre équipe met à disposition tous les outils nécessaires pour devenir un Photographe PicStreet : une application fonctionnelle de mise en relation avec vos futurs clients ainsi qu’un logiciel performant pour envoyer directement vos photos ! Nous fournissons également un guide, des conseils et une formation pour vous familiariser aux exigences de PicStreet ! Notre équipe est là pour répondre à la moindre de vos questions !
	
	.paragraphe.center.light

		.title Devenir Photographe PicStreet

		.description
			label.toggle.toggle-balanced
				input(
					type="checkbox"
					ng-click="getPhotographerForm()"
				)
				.track
					.handle
		
	.footer PicStreet® 2016


